@model IEnumerable<ĐTSDay9Lesson.Models.DtsSanPham>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DTSMaSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DTSTenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DTSHinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DTSSoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DTSDonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DTSLoaiSanPhamId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DTSMaSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DTSTenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DTSHinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DTSSoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DTSDonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DTSLoaiSanPhamId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DTSId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DTSId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DTSId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
